<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>BEST CAT IN THE WORLD</h1>
            <hr
            <p> 4-time consecutive winner of WORLDs BEST CAT CHAMPIONSHIP™</p>
            <p>2021-2025</p>
            <p>From humble beginings, this cat  Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
